/* ------------GENERAL STYLES--------------------*/
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

/*reset*/

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/*common*/

.section {
  padding: 120px 0;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

/* ------------PAGE HEADER----------------------*/

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo {
  padding: 24px 0;
  margin-right: 76px;
}

.header-logo .logo-part {
  color: #2e2f42;
}

.header-nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

/*-- .header-nav-item {}--*/

.header-nav-link {
  position: relative;

  padding: 24px 0;
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .header-nav-link.current {
  position: relative;
} */

.header-nav-link::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;

  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav-link:hover::after,
.header-nav-link:focus::after,
.header-nav-link.current::after {
  opacity: 1;
}

.contacts {
  font-style: normal;
  margin-left: auto;
}

.contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

/*-- .contacts-item {}--*/

.contacts-link {
  display: block;
  padding: 24px 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav-link:hover,
.header-nav-link:focus,
.contacts-link:hover,
.contacts-link:focus,
.header-nav-link.current {
  color: #404bbf;
}

/* ------------MAIN PAGE / Hero ----------------------*/

.hero-section {
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/hero-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1440px;
  margin: 0 auto;
  padding: 188px 0;
}

.hero-container {
  box-sizing: border-box;
  text-align: center;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #fff;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}

.hero-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
  white-space: nowrap;
  width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition-property: background-color color;
  transition-duration: 250ms;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

/* ------------MAIN PAGE / features -------------------*/

/* ---HIDEN CONTENT--- */
.features-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ___________ svg sprite TEST ___________ */
/* .icon-features {
  margin: 24px 100px;
  fill: #4d5ae5;
} */

.features-list {
  display: flex;
  align-items: center;
  gap: 24px;
}
.features-item {
  width: calc((100% - 72px) / 4);
  /* height: 104px; */
}

.features-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.features-text {
  /* font-weight: 400; */
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.features-icon-container {
  height: 112px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin: 0 auto;
  margin-bottom: 8px;
}

/* .features-icon {
} */

/* ------------MAIN PAGE / team -----------------------*/
.team-section {
  background-color: #f4f4fd;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.team-item {
  background-color: #fff;
  width: calc((100% - 72px) / 4);
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}
.team-img {
  display: block;
  max-width: 100%;
}
.team-subtitle-container {
  display: block;
  padding: 32px 16px;
}

.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
.team-text {
  /* font-weight: 400; */
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin-bottom: 8px;
}

/* .team-icon-container {
} */

.team-icon-list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.team-icon-item {
  background-color: #4d5ae5;
  border-radius: 50%;
  width: calc((100% - 72px) / 4);
  max-width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon-item:hover,
.team-icon-item:focus {
  background-color: #404bbf;
  cursor: pointer;
}

.team-soc-icon {
  fill: #f4f4fd;
  margin: 12px;
  /* width: 100%; */
}

/* ------------MAIN PAGE / portfolio ------------------*/

.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 48px 24px;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-item:hover .portfolio-overlay-text,
.portfolio-item:focus .portfolio-overlay-text {
  transform: translateY(0);
  cursor: pointer;
}

.portfolio-img {
  display: block;
  max-width: 100%;
}
.portfolio-subtitle-container {
  display: block;
  padding: 32px 16px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}
.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.portfolio-text {
  /* font-weight: 400; */
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.portfolio-overlay-container {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay-text {
  position: absolute;
  top: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;
  padding: 40px 32px;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ------------PAGE FOOTER ----------------------------*/

.page-footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-container-main {
  display: flex;
  gap: 120px;
}

.footer-container {
  display: block;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}
.footer-logo .logo-part {
  color: #f4f4fd;
}

.footer-text {
  /* font-weight: 400; */
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

.footer-icon-container {
  display: block;
}

.footer-icon-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.footer-icon-list {
  display: flex;
  /* align-items: center;
  justify-content: center; */
  gap: 16px;
}

.footer-icon-item {
  background-color: #4d5ae5;
  border-radius: 50%;
  width: calc((100% - 48px) / 4);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-item:hover,
.footer-icon-item:focus {
  background-color: #31d0aa;
  cursor: pointer;
}

.footer-soc-icon {
  fill: #f4f4fd;
  margin: 8px;
}
